:root {
    --bs-font-sans-serif: Poppins, sans-serif;
    --dk-bgd-col: #212529;
    --lt-bgd-col: whitesmoke;
    font-family: var(--bs-font-sans-serif);
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--dk-bgd-col);
    top: 0;
}

.nav a {
    color: var(--lt-bgd-col);
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

#profile-link {
    color: var(--dk-bgd-col);
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

#profile-link:hover {
    color: darkblue;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

#main {
    display: grid;
    grid-template-rows: 100vh auto 50vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#projects {
    
    background-color: var(--lt-bgd-col);
}

footer {
    color: white;
    background-color: var(--dk-bgd-col);
    text-align: center;
    padding: 1%;
}