:root {
  --bs-font-sans-serif: Poppins, sans-serif;
  --bs-primary: #212529;
  --dk-bgd-col: #212529;
  --lt-bgd-col: whitesmoke;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: var(--bs-font-sans-serif);
}

#main {
  margin: auto;
  width: 100%;
}

#header {
  color: white;
  background-color: var(--dk-bgd-col);
}


footer {
  color: white;
  background-color: var(--dk-bgd-col);
  text-align: center;
  border: darkcyan;
  border-style: solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

#displayQuote {
  margin: auto;
}

#quoteAuthor, #displayQuote p {
  font-size: small;
}